html,
body {
    min-width: 768px;
	max-width: 1200px;	
    margin: 0 auto;
    font-size: 14px;
    line-height: 21px;
    font-family: "PT Sans", sans-serif;
    background: #ffffff;
    text-transform: uppercase;
}
* {
	box-sizing: border-box;
}

header {
	position: relative;
	margin: 0;
	padding: 0;
}
.container {
	min-width: 768px;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
}
.main-navigation {
	margin-right: 6%;
	margin-left: 6%;
}
.main-navigation ul {
	margin: 0 auto;
	padding: 0;
	font-size: 0;
	list-style: none;
}
.main-navigation li:nth-child(1),
.main-navigation li:nth-child(4) {
	display: inline-block;
	width: 20%;
	vertical-align: top;
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
}
.main-navigation li:nth-child(2),
.main-navigation li:nth-child(3) {
	width: 30%;
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
}
.main-navigation a {
	display: block;
	padding-top: 18px;
	padding-bottom: 21px;
	color: #000000;
	text-decoration: none;
}
.main-navigation li:nth-child(3),
.main-navigation li:nth-child(4) {
	text-align: right;
}
.logo {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 10;
	transform: translate(-69px);
}
.main-navigation a:hover {
	color: #81b3d2;
}
.main-navigation a:active {
	color: #b2b2b2;
}
.navigation-link a {
	color: #766357;
}
.navigation-link a:hover {
	color: #604e43;
}
.navigation-link a:active {
	color: #d6d0cc;
}
.main-navigation li:nth-child(3)>a,
.main-navigation li:nth-child(4)>a {
 	text-align: right;
 }
.container-main {
	min-width: 768px;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
}
.sedona-main {
	background: 
	url("../img/sedona-txt.png") no-repeat center,
	url("../img/sedona-bg.jpg") no-repeat center;
	height: 566px;
}
 
.slogan {
	width: 460px;
	margin: 60px auto 35px auto;
	text-align: center;
}
.slogan b {
	font-size: 21px;
	line-height: 26px;
}
.advantages>p {
	margin-bottom: 60px;
	text-align: center;
	line-height: 26px;
}
.advantage {
	margin: 0;
	padding: 0;
	font-size: 0;
}
.advantage-text,
.advantage-img {
	display: inline-block;
	margin-bottom: 0;
	height: 256px;
	vertical-align: top;
}

.advantage-img {
	width: 66.6%;
	padding: 0;
	margin: 0;
	text-align: justify;
	
}
.view {
	background: url("../img/sedona-city.jpg") no-repeat center;
} 
.mountain {
	background: url("../img/mountain.png") no-repeat center;
} 
.advantage-text {
	width: 33.3%;
	box-sizing: border-box;
	margin-top: 0;
	padding: 35px;
	font-size: 14px;
	font-family: "PT Sans", sans-serif;
	line-height: 21px;
	color: #ffffff;
	background-color: #81b3d2;
}
.advantage-title {
	margin: 0;
	margin-bottom: 30px;
	font-size: 21px;
	line-height: 21px;
	text-align: center;
}
.advantage-text p {
	margin: 0;
	text-align: center;
	font-weight: normal;
}
.advantage-text p:last-child {
	margin-top: 30px;
}
.advantage .city {
	display: inline-block;
	width: 33.3%;
	height: 256px;
	margin: 65px 0;
	vertical-align: top;
	font-size: 14px;
    line-height: 21px;
    font-family: "PT Sans", sans-serif;
    text-align: center;
}
.city>img {
	margin-bottom: 30px;
}
.city>p {
	padding-left: 35px;
	padding-right: 35px;
}
.advantage-item {
	margin: 0;
	padding: 0;
	font-size: 0;
}
section.item {
	display: inline-block;
	box-sizing: border-box;
	width: 33.3%;
	height: 256px;
	padding: 30px 45px;
	padding-top: 50px;
	vertical-align: top;
	text-align: center;
	font-size: 14px;
    line-height: 21px;
    font-family: "PT Sans", sans-serif;
    background-color: #eeeeee;
}
.form {
	padding-top: 55px;
	text-align: center;
	
}
.form>h2 {
	font-size: 30px;
	line-height: 39px;
	
}
.form>p {
	margin: 0;
	padding: 0;
}
.form form {
	position: relative;
	z-index: 100;
	width: 568px;
	margin: 0 auto;
}
.btn {
	width: 568px;
    height: 85px;
    margin: 0 auto;
	margin-top: 55px;
	color: #ffffff;
	font-family: "PT Sans", sans-serif;
	font-weight: bold;
	font-size: 21px;
    line-height: 26px;
	text-transform: uppercase;
	background-color: #766357;
	text-align: center;
	vertical-align: top;
	text-decoration: none;
	border: none;
	outline: none;
	cursor: pointer;
}
.map {
	position: relative;
	height: 593px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.map iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.footer {
	position: relative;
	bottom: 115;
	margin-top: -115px;
	box-sizing: border-box;
	padding-top: 35px;
	padding-bottom: 35px;
	opacity: 0.9;
	background: #ffffff;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.footer-hashtag {
	display: table-cell;
    float: left;
    width: 33%;
    padding-top: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
}
.footer-social {
    float: left;
    width: 33%;
    text-align: center;
}
.footer-contacts a {
	color: #81b3d2;
}
.footer-contacts a:hover {
	text-decoration: none;
}

.social-btn {
	display: inline-block;
	width: 43px;
	height: 43px;
	margin: 0 2px;
	font-size: 0;
	vertical-align: top;
	text-decoration: none;
	background: #81b3d2 url("../img/sprite.png") no-repeat center;
}
.social-btn:hover {
	background-color: #669ec0;
}
.social-btn-tw {
	background-position: -2px -53px;
}
.social-btn-fb {
	background-position: -2px -112px;
}
.social-btn-youtube {
	background-position: -4px -158px;
}
.social-btn:active {
	background: #81b3d2 url("../img/sprite-hv.png") no-repeat center;
}
.social-btn-tw:active {
	background-position: -15px -212px;
}
.social-btn-fb:active {
	background-position: -15px -285px;
}
.social-btn-youtube:active {
	background-position: -14px -241px;
}

.footer-copyright {
	float: right;
	width: 33.3%;
	vertical-align: top;
	text-align: center;
} 
.footer-copyright p {
	display: inline-block;
	margin: 0;
	margin-top: 8px;
	vertical-align: top;
	text-transform: uppercase;
}
.footer-copyright a {
	display: inline-block;
	width: 113px;
	height: 39px;
	background-image: url("../img/htmlacademy.png");
}
.footer-copyright a:hover {
	background-image: url("../img/sprite-hv.png");
	background-position: -23px -104px;
}

.footer-copyright a:active {
	background-image: url("../img/sprite-hv.png");
	background-position: -23px -170px;
}
.modal-content {
	position: absolute;
	display: none;
	width: 568px;
	padding: 55px;
	font-size: 0; 
	font-family: "PT Sans", sans-serif;
	color: #000000;
	font-weight: bold;
	line-height: 26px;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	background: #ffffff;
	box-sizing: border-box;
}
.modal-content label {
	display: inline-block;
	width: 110px;
	text-align: left;
	font-size: 14px;
}
.modal-content input {
	margin: 0 auto;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 26px;
	font-family: "PT Sans", sans-serif;
	color: #000000;
	text-transform: uppercase;
	border: none;
	outline: none;
	background-color: #f2f2f2;
}

.modal-content .modal-close {
	width: 460px;
	height: 60px;
	margin-top: 25px;
	vertical-align: top;
	font-family: "PT Sans", sans-serif;
	font-weight: bold;
	font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
	background-color: #81b3d1;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	outline: none;
	cursor: pointer;
	border: none;
}
.modal-content .arrival-date {
	width: 335px;
	margin-bottom: 30px;
	margin-left: 10px;
	padding: 10px 40px 10px 20px;
	border: 1px solid #ebebeb;
	cursor: pointer;
}
.modal-content .departure-date {
	width: 335px;
	margin-bottom: 30px;
	margin-left: 10px;
	padding: 10px 40px 10px 20px;
	border: 1px solid #ebebeb;
	cursor: pointer;
}
.search-form input.arrival-date {
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	background-position: 290px 0;
}
.search-form input.departure-date {
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	background-position: 291px 0;
}
.search-form input.arrival-date:hover {
	background-color: #ebebeb;
	background-image: url("../img/sprite-hv.png");
	background-repeat: no-repeat;
	background-position: 280px -4px;
}	
.search-form input.departure-date:hover {
	background-color: #ebebeb;
	background-image: url("../img/sprite-hv.png");
	background-repeat: no-repeat;
	background-position: 281px -4px;
}
.search-form input.arrival-date:focus {
	background-color: #ffffff;
	background-image: url("../img/sprite-hv.png");
	background-repeat: no-repeat;
	background-position: 278px -48px;
}
.search-form input.departure-date:focus {
	background-color: #ffffff;
	background-image: url("../img/sprite-hv.png");
	background-repeat: no-repeat;
	background-position: 279px -48px;
}
.count-adult,
.count-child {
	position: relative;
	display: inline-block;
	width: 50%;
	text-align: left;
}
.count-adult .adult-number,
.count-child .child-number {
	width: 35px;
	margin-left: 45px;
	padding: 10px;
	padding-left: 12px;
}
.count-child {
	padding-left: 40px;
}
.count-child .child-number {
	margin-left: 10px;
}
.count-minus,
.count-plus {
	position: absolute;
	display: inline-block;
	width: 34px;
	height: 46px;
	padding-top: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	vertical-align: middle;
	font-size: 33px;
	color: #a9a9a9;
	background-color: #f2f2f2;
	cursor: pointer;
}
.count-adult .count-minus {
	top: 0;
	left: 121px;
}
.count-adult .count-plus {
	top: 0;
	left: 184px;
}
.count-child .count-minus {
	top: 0;
	right: 69px;
}
.count-minus:hover {
	color: #000000;
}
.count-plus:hover {
	color: #000000;
}
.count-minus:active {
	color: #81b3d2;
}
.count-plus:active {
	color: #81b3d2;
}
.modal-content-show {
	display: block;
}
.modal-content .modal-close:hover {
	background-color: #669ec0;
}
.modal-content .modal-close:active {
	color: #88b6d1;
	background-color: #5496bd;
}
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 14;
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

/*style for hotels*/
.filter {
	height: 220px;
	background-image: url("../img/bg-main.png");
	background-position: 0% 50%;
	background-repeat: no-repeat;
}
.form-filter {
	margin-left: 6%;
	margin-right: 6%;
	font-size: 0;
}
.form-filter h2 {
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
	color: #ffffff;
	margin: 0;
	margin-bottom: 20px;
}
.form-filter label {
	margin-left: 40px;
}
.form-infrastructure,
.form-house,
.form-cost {
	box-sizing: border-box;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 16px;
	line-height: 21px;
	font-weight: normal;
	color: #ffffff;
}
.form-infrastructure,
.form-house {
	float: left;
	width: 145px;
	margin-right: 10%;
}
.form-cost {
	float: right;
	width: 230px;
}
.form-checkbox {
	position: relative;
	cursor: pointer;
}

.form-checkbox input[type="checkbox"] {
	display: none;
}
.form-checkbox input[type="checkbox"] + .checkbox-indicator {
	position: absolute;
	top: -3px;
	left: -43px;
	width: 35px;
	height: 55px;
	background: url("../img/sprite-hv.png") no-repeat center;
	background-position: -127px -242px;
}
.form-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
	background-position: -127px -315px;
}

.form-cost input {
	display: inline-block;
	box-sizing: border-box;
	width: 50%;
	margin-bottom: 10px;
	padding: 5px 20px;
	font-size: 14px;
	font-weight: normal;
	line-height: 21px;
	color: #ffffff;
	text-transform: uppercase;
	border: 1px solid white;
	background-color: transparent;
}
.form-cost button {
	box-sizing: border-box;
	width: 135px;
	height: 35px;
	margin: 20px 0 30px 45px;
	padding: 5px 25px;
	color: #ffffff;
	font-size: 14px;
	font-weight: normal;
	line-height: 21px;
	text-transform: uppercase;
	border: 1px solid white;
	background-color: transparent;
}
.form-cost button:active {
	color: #000000;
	background-color: #ffffff;
} 
.form-cost button:hover {
	color: #000000;
	background-color: #ffffff;
} 
.ui-slider {
	position: relative;
	width: 96%;
	left: 10px;
}


/* Ширина, высота и позиционирование для ползунков
----------------------------------*/
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 15px;
	height: 15px;
    cursor:pointer;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	display: block;
	border: 0;
	background-position: 0 0;
}

/* Высота горизонтальной полоски
----------------------------------*/
.ui-slider-horizontal {height: 3px;}
.ui-slider-horizontal .ui-slider-handle {
	top: -.4em;
	margin-left: -.6em;
    
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
}
.ui-slider-horizontal .ui-slider-handle::after {
	position: absolute;
	top: 6px;
	left: 6px;
	content: "";
	width: 4px;
	height: 4px;
	background-color: #6a6a6a;
	border-radius: 100%;
}
.ui-slider-horizontal .ui-slider-range {top: 0;height: 100%;}
.ui-slider-horizontal .ui-slider-range-min {left: 0;}
.ui-slider-horizontal .ui-slider-range-max {right: 0;}

/* Стилизация полоски
----------------------------------*/
.ui-widget-content {
	margin-top: 10px;
	background: #988683;
	color: #988683;
	
	-webkit-border-radius: 4px;
       -moz-border-radius: 4px;
    	 -o-border-radius: 4px;
			border-radius: 4px;
    
}


/* Стилизация промижудка между ползунками
----------------------------------*/
.ui-widget-header {
	background: #ffffff;
	color: #ffffff;
	font-weight: bold;
}


/* Стилизация ползунков 
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	background: #ffffff; 
	
}


Стилизация ползунка при наведении и фокусе
----------------------------------
.ui-state-hover .ui-slider-handle,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	outline: none;
}
.ui-slider-horizontal .ui-slider-handle:hover::after {
	background-color: #81b3d2;
}
.footer-hotels {
	bottom: 115;
	box-sizing: border-box;
	padding-top: 35px;
	padding-bottom: 35px;
	background: #ffffff;
}
.sorting {
	height: 85px;
	margin-left: 6%;
	margin-right: 6%;
}
.sorting div {
	vertical-align: top;
	font-size: 12px;
	line-height: 18px;
}
.sorting .sorting-number {
	float: left;
	width: 150px;
	margin: 0;
	padding-top: 35px;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-align: left;
}
.sorting .sorting-items {
	float: left;
	width: calc(100% - 260px);
	padding-top: 19px;
	text-align: left;
}
.sorting-items>a {
	padding-left: 30px;
	text-decoration: underline;
	color: #d1d1d1;
	cursor: pointer;
}
.sorting-items>a.active {
	text-decoration: none;
	color: #81b3d2;
}
.sorting-items>span {
	font-weight: bold;
}
.sorting .sorting-increase {
	float: right;
	width: 110px;
	margin: 0;
	padding: 0;
	padding-top: 19px;
	text-align: right;
	color: #d1d1d1;
	font-size: 16px;
}
.sorting-increase a {
	padding-left: 5px;
	text-decoration: none;
	cursor: pointer;
}
.sorting-increase a.active {
	color: #81b3d2;
}
.hotels {
	margin-left: 6%;
	margin-right: 6%;
}

.hotels section {
	min-height: 150px;
	box-sizing: border-box;
	border-bottom: 1px solid #d1d1d1;
}
.hotels section:first-child {
	border-top: 1px solid #d1d1d1;
}
.hotels .photo {
	float: left;
	width: 150px;
}
.hotels .description {
	float: left;
	width: calc(100% - 260px);
}
.hotels .rating {
	float: right;
	width: 110px;
}
section .hotels-item {
	padding-top: 30px;
	vertical-align: top;
}
.hotels-item h2 {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
}
.hotels-item div {
	display: inline-block;
}
.hotels-item button {
	margin-top: 6px;
	padding: 5px 15px;
	vertical-align: top;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	line-height: 21px;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	border: none;
	outline: none;
	cursor: pointer;
}
button.btn-hotel {
	background-color: #81b3d2;
}
button.btn-hotel:hover {
	background-color: #669ec0;
}
button.btn-hotel:active {
	background-color: #5496bd;
	color: #88b6d1;
}
button.btn-book {
	background-color: #766357;
}
button.btn-book:hover {
	background-color: #604e43;
}
button.btn-book:active {
	background-color: #503e33;
	color: #857871;
}
section .rating {
	text-align: right;
}
section .rating span {
	color: #81b3d2;
	font-size: 20px;
}
.hotels-item p {
	margin-top: 40px;
	font-size: 14px;
	text-align: center;
	color: #666666;
	background-color: #f2f2f2;
}

